*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: aquamarine;
    
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;   
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    
}
.choice:hover
{
cursor: pointer;
background-color: #081b31;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score, #com-score
{
    font-size: 4rem;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 5rem;
}
.msg-conatiner
{
    margin-top: 5rem;
}
#msg:hover
{
    border: 5px solid blue;
    color: yellow;
}